@tailwind base;
@tailwind components;
@tailwind utilities;

.App body{
  font-family: "Open Sans", sans-serif;
  color: #212529;
}
.top-header-bg{
   background-color: #cd0ded;
}
.top-header{
  color: #F9C700;
}